@{
    ViewBag.Title = "Scheduler";
    ViewBag.Message = "Book your appointment online, Never wait for your service again";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>We help our user book their appointment for the service they want. Waiting sucks! You'll never have to do it again!</p>
