@{
    ViewBag.Title = "Schedule Booker";
    ViewBag.Message = "An easy scheduling Solution";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Baggins Household<br />
    MiddleEarth, By the hill<br />
    <abbr title="DropBy">P:</abbr>
    Anytime after the end of the world
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Doesn't exist</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Who needs it?</a>
</address>