@model BookAppointment.Models.Business
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Lovely Threading</h1>
</div>

<body>
    <fieldset>
        <legend>Service</legend>
        <div class="display-label">
            Name
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ServiceProvided.First().Name)
        </div>
    </fieldset>
</body>